* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-image: linear-gradient(to bottom, #f7e1c6 100%, #f9f6f2 0%,
            #f8f1e8 20%,
            #f7e9dd 50%,
            #f8f1e8 75%,
            #f7e1c6 100%);


}

.menu-container {
    display: flex;
    gap: 22px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.left-arrow{
    width: 60px;
    height: 60px;
    border: none;
    background: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
    font-size: 28px;
    color: #777;
    box-shadow: 0 2px 6px rgba(0,0,0,.12);
}
.right-arrow{
    width: 60px;
    height: 60px;
    border: none;
    background: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    font-size: 28px;
    color: #777;
    box-shadow: 0 2px 6px rgba(0,0,0,.12);
}
.menu-container::-webkit-scrollbar {
    display: none;
}
.menu-card img{
    background: white;
}