.restaurant-card {
    margin-top: 140px;

}

.restaurant-details {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 25px 40px;

}

.card {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    gap: 10px;

    padding: 30px;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.icons img {

}

.open {
    color: green;
    font-weight: bold;
}

.closed {
    color: red;
    font-weight: bold;
}